.button {
    text-align: center;
    color: white;
}

ion-title {
    text-align: center;
}

.background-image {
    --background: url("audi.jpg") 0 0/100% 100% no-repeat;
    height: 700px;
}

// .background-image {
//     --background: url("lie.jpg") 0 0/100% 100% no-repeat;
//     height: 700px;
// }
ion-card {
    color: black;
}