.background-image {
    --background: url("audi.jpg") 0 0/100% 100% no-repeat;
    height: 700px;
}

.button {
    text-align: center;
}

ion-card {
    color: black;
}

ion-title {
    text-align: center;
}