<ion-header>
    <ion-toolbar color="danger">
        <ion-icon name="arrow-back" [routerLink]="['/home']"></ion-icon>
        <ion-title>Food&Drink Quizz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">

    <h1>
        <ion-icon name="beer"></ion-icon>
        <ion-icon name="beer"></ion-icon>
        <ion-icon name="beer"></ion-icon>
        <font size="7">WELCOME TO OUR FOOD AND DRINKS QUIZZ</font>
        <ion-icon name="pizza"></ion-icon>
        <ion-icon name="pizza"></ion-icon>
        <ion-icon name="pizza"></ion-icon>
        <ion-icon name="pizza"></ion-icon>
    </h1>
    <ion-card>
        <p>Press start to test your knowledge about food and drinks</p>
    </ion-card>
    <div class="button">
        <ion-button color="danger" [routerLink]="['/foodq']">START</ion-button>
    </div>
</ion-content>