.button {
    text-align: center;
}

.background-image {
    --background: url("foodd.jpg") 0 0/100% 100% no-repeat;
}

ion-title {
    text-align: center;
}

h1 {
    text-decoration: overline;
    text-align: center;
    // font-family: verdana;
    font-family: Apple Chancery, cursive;
    color: white;
}

ion-card {
    background-color: transparent;
}

p {
    font-family: Courier, monospace;
    color: white;
}