<ion-header>
    <ion-toolbar color="danger">
        <ion-title>Sport Quizz</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <h1>
        <ion-icon name="football"></ion-icon>
        <ion-icon name="tennisball"></ion-icon>
        <ion-icon name="football"></ion-icon>
        <font size="8">WELCOME TO OUR SPORT QUIZZ</font>
        <ion-icon name="tennisball"></ion-icon>
        <ion-icon name="football"></ion-icon>
        <ion-icon name="tennisball"></ion-icon>
    </h1>
    <ion-card>
        <p>Press start to test your knowledge about sports</p>
    </ion-card>
    <br><br>
    <div class="button">
        <ion-button color="danger" [routerLink]="['/sportq']">START</ion-button>
    </div>
</ion-content>