<ion-header>
    <ion-toolbar color="danger">
        <ion-title>
            My Quiz App!!!!!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <div class="qz">
        <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br> -->
        <div class="button">
            <ion-button shape="round" size="large" color="secondary" [routerLink]="['/foodc']">FOOD</ion-button>
            <ion-button shape="round" size="large" color="warning" [routerLink]="['/musicc']">MUSIC</ion-button>
            <ion-button shape="round" size="large" color="success" [routerLink]="['/sportc']">SPORT</ion-button>
        </div>

    </div>
</ion-content>